<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="saveSetmealDishes">
        insert into setmeal_dish(setmeal_id, dish_id, name, price, copies) VALUES
        <foreach collection="setmealDishes" item="setmealDish" separator=",">
            (#{setmealDish.setmealId},#{setmealDish.dishId},#{setmealDish.name},#{setmealDish.price},#{setmealDish.copies})
        </foreach>
    </insert>
    <update id="updateDishData">
        update setmeal_dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
        </set>
        <where>
            <if test="dishId != null">and dish_id = #{dishId}</if>
        </where>
    </update>
    <delete id="deleteSetmealDishesBySetmealIds">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="queryRelatedDishes" resultType="java.lang.Integer">
        select count(id)
        from setmeal_dish
        where dish_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="listSetmealDish" resultType="com.sky.vo.DishItemVO">
        select sd.name, sd.copies, d.image, d.description
        from setmeal_dish sd
        left join dish d
        on sd.dish_id = d.id
        where sd.setmeal_id = #{setmealId}
    </select>
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish 
        where dish_id in 
        <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </select>
    <select id="listDetailed" resultType="com.sky.entity.SetmealDish">
        select *
        from setmeal_dish
        where setmeal_id = #{id}
    </select>
</mapper>